<!DOCTYPE html>
<html lang="es">

<head>
    <title>Handy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
    <meta name="keywords" content="Exclusive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/font-awesome.css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">



    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>-->
    <style>
        @keyframes slideInRight {
            from {
                transform: translate3d(100%, 0, 0);
                visibility: visible;
            }
            to {
                transform: translate3d(0, 0, 0);
            }
        }
        
        button.chatLauncher {
            animation-duration: 0.5s;
            transition-duration: 0.5s;
            position: fixed;
            bottom: 32px;
            right: 32px;
            z-index: 9999;
            border: 4px solid #075cc2;
            padding: 1em;
            border-radius: 8px;
            margin: 0;
            text-decoration: none;
            background-color: #ffffff;
            color: #454545;
            font-family: sans-serif;
            font-size: 1rem;
            cursor: pointer;
            text-align: left;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 264px;
            opacity: 0;
        }
        
        button.chatLauncher.open {
            animation-name: slideInRight;
            opacity: 1;
        }
        
        button.chatLauncher:hover,
        button.chatLauncher:focus {
            background-color: rgb(225, 225, 254);
            border: 4px solid #0053ba;
        }
        
        button.chatLauncher:focus {
            outline: 1px solid #0053ba;
            outline-offset: -4px;
        }
        
        .chatElement {
            height: 600px;
            width: 80%;
            margin-left: 8rem;
        }
    </style>


</head>

<body>
    <div class="main-top">
        <header>
            <div class="container-fluid px-lg-5 ">
                <nav class="mnu mx-auto">
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu">
                        <li class="mr-lg-4 mr-3 active"><a href="index.html">Handy</a></li>
                        <li class="mr-lg-4 mr-3"><a href="#services" class="scroll">Aprender</a></li>
                        <li class="mr-lg-4 mr-3"><a href="#work" class="scroll">Equipo</a></li>
                        <li><a href="#contact" class="scroll">Contactos</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <section class="banner-bottom" id="about">
        <div class="container">
            <div class="inner-sec">
                <div class="row middle-grids">
                    <div class="col-lg-4 advantage-grid-info1">
                        <div class="advantage_left1 text-center">
                            <img src="img/lsm.jpeg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 advantage-grid-info">
                        <div class="advantage_left">
                            <h1 class="heading text-capitalize mb-sm-5 mb-4">Hola. Nosotros somos <span>Handy.</span></h1>
                            <p class="mt-4">Una plataforma de <span>Aprendizaje. </span>Enfocada en la creacion de herramientas para el estudio del lenguaje de señas mexicano.</p>
                            <a href="#services" class="banner-button btn mt-5 scroll">Aprende con nosotros</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="agileits-services" id="services">
        <div class="container">
            <h2 class="heading text-capitalize">Aprendiendo LSM Mano a Mano</h2>
            <p class="subs mt-4">Enseñar, conocer y entenderse con soltura en lengua de señas es fundamental para la inclusión, pues sin ella, las personas con discapacidad auditiva pierden el acceso a la información y a la interacción diaria con amigos o seres queridos.</p>
            <br>
            <!-- We want to hide this element initially, because Web Chat isn't ready yet. -->
            <button type="button" class="chatLauncher" style="display:none;">
        <div>
          <strong>Have questions?</strong> Talk with Karen our Virtual Assistant.
        </div>
      </button>
            <div class="chatElement"></div>
            <script>
                const element = document.querySelector('.chatElement');
                window.watsonAssistantChatOptions = {
                    integrationID: "0a38eada-11a2-4c93-bcc3-8ca1a22a4349", // The ID of this integration.
                    region: "us-south", // The region your integration is hosted in.
                    serviceInstanceID: "2d708ef7-80f9-4f12-b866-afc9f0480b60", // The ID of your service instance.
                    carbonTheme: 'g90',
                    showLauncher: false,

                    // Provide the custom element.
                    element: element,
                    // Hide the close button since we want it always open.
                    hideCloseButton: true,
                    // Hide the default launcher.
                    showLauncher: false,
                    // Make the window open by default.
                    openChatByDefault: true,

                    onLoad: function(instance) {
                        // Select the button element from the page.
                        const button = document.querySelector('.chatLauncher');

                        // Add the event listener to open your Web Chat.
                        button.addEventListener('click', function clickListener() {
                            instance.openWindow();
                        });

                        instance.updateCSSVariables({
                            'BASE-font-family': '"Times New Roman", Times, serif',
                            '$focus': '#00ff00',
                            '$hover-primary': '#00ff00',
                            '$interactive-01': '#008000'
                        });

                        // Render the Web Chat. Nothing appears on the page, because the launcher is
                        // hidden and the Web Chat window is closed by default.
                        instance.render().then(function() {
                            // Now that Web Chat has been rendered (but is still closed), we make the
                            // custom launcher button visible.
                            //    button.style.display = 'block';
                            //    button.classList.add('open');
                        });
                    }
                };

                setTimeout(function() {
                    const t = document.createElement('script');
                    t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
                    document.head.appendChild(t);
                });
            </script>


        </div>
    </div>

    <!--coidgo de visual ----->
    <div class="agileits-services">
        <div class="container">
            <h2 class="heading text-capitalize">Analizador de letras en lengua de señas LSM</h2>
            <p class="subs mt-4"> A través de Visual Recognition puedes formar palabras deletreando una por una la seña</p>
        </div>

        <!--ejs es para crear plantillas dinamicas-->
        <!--lo añade al html para resolverlo-->
        <p id="mensajeSubida"></p>

        <!--<%= typeof msg != 'undefined' ? msg : '' %>-->


        <form action="/upload" method="POST" enctype="multipart/form-data" name="formularionuevo" id="formularionuevo">
            <!--aqui solo se le dio una clase, este envuelve al boton y a una entrada-->
            <!--<div class="file-field input-field">-->
            <!--este div solo se le da una clase, este envuelve al boton-->


            <!-- <div class="btn indigo darken-2"> -->

            <span id="status">Seleccione Archivo</span>

            <input name="myImage" type="file" id="myImage">
            <!--</div>-->

            <!-- <div class="file-path-wrapper">-->

            <!--<input class="file-path validate" type="text" id="prueba">-->

            <!--</div>-->

            <!-- </div>-->
            <!--un nuevo boton, tipo subirda con una clase y un id-->
            <!--  <button type="submit" class="btn deep-purple accent-3" id="sb">Traducir</button>-->
            <!--<button type="submit" class="btn" formaction="/upload2" id="sdb">Clasificador general</button>-->

            <!-- <input type="file" name="file">-->
            <button type="submit" value="Subir" id="sb">Limpiar </button>

        </form>

        <!-- <br>
-->
        <!--aqui se agrega la imagen, en caso de no habver toma una de base-->
        <div>
            <img src="<%= typeof file != 'undefined' ? file : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAI3SURBVGhD7Zc/SFVRAIdfFCFhUIOhDjaICE1FSP7JzcFFcAlpc3BxMhojgiAQKgRBBBEXERIhaHIw2pSWJhF0aXBys5ISLLG+39UTV++53nt91+e5j/PBh+/cp97z8e45796Sx+NJ5GYVeA1Lf6vASfw/2C6gvzASUkSG0Ye4hA9xDadDavDG4ctEnAy5h59wHzWfTRzBSxiHcyHtuIuaxx/8cfRaTmAczoWsoeYwg7WoT6EPTVwn2nAqpBV1/i28qgMhRlHvjQWjKE6FdKHOvxKMjjOIem82GEU5U0gbPjh8mSv1eIA/sVEHQrxDze15MIqSOUQR33EdtT3mzQfUHLRW+vEhanI6pnXShDYyhZgI83tvMG/q0Cz4sHs4gHGkDglHLOJv1D7fgXmjh6OnqO+SzziFd/A0UoWEI+bwMr48Gp/XJZaVxBBbhND2uIo6/lYHQmjvb8FbwagynBoSF2G4i+YSe4KvUZfDN9TfbGADVoLYkKQIg7nETqotVD8rFWMNSRshdIkt4Xt8hr2onUd3rV9Q/0Pr6LxjrCFpI5I4GaP7pPsWr2O5WEPyiDCEY+L8iuVu49aQvCIMilnAjxb1SemcumV/gWc9rzUkz4gkruArNA9Ry3gbs2INuQi6UU+COr/W6GPMgjMhQpfgPJp56Ja9J6Xj6EyIQc8eO2jmk0WnQkQz6rvJtkHYNJuGcyFZcWqNlIMPcQ0f4hrVHfKogE5jJKTIBiG61S66Q+jxeKqfUukfSeftN1I2v2YAAAAASUVORK5CYII=' %>"
                class="img-s" id="iv">

        </div>


        <!-- <a href="https://icons8.com">Icon pack by Icons8</a> -->
        <!--aqui define un parrado que si esta definido pone el dato, sino deja bacio-->

        <p>
            <!--<%= typeof data != 'undefined' ? data : '' %>-->
        </p>

        <!--aqui se comienza a crear una tabla-->
        <table>
            <!--los encabezado de la tabla-->
            <thead>
                <tr>
                    <th>Letra</th>
                    <th>Probabilidad</th>
                    <th>Jerarquía de Tipos</th>
                </tr>
            </thead>

            <!--el cuerpo de la tabla -->
            <tbody>

                <tr>
                    <td>
                        <p id="clas"></p>
                        <!--<%= typeof clas != 'undefined' ? clas : '' %>-->
                    </td>

                    <td>
                        <p id="sc"></p>
                        <!--<%= typeof sc != 'undefined' ? Math.floor(sc * 100) + "%" : '' %>-->
                    </td>

                    <td>
                        <!--<%= typeof th != 'undefined' ? Math.floor(th * 100) + "%" : '' %>-->
                    </td>

                </tr>

            </tbody>

        </table>

        <h2>
            <p id="resultado"> </p>
            <!--<%= typeof resultado != 'undefined' ? resultado : '' %>-->
        </h2>


        <form action="/limpiar" method="POST" enctype="multipart/form-data" class="center" id="formularioLimpiar">

            <!--<button action="/" method="POST" type="submit" class="btn deep-purple accent-3" id="sb">Limpiar</button>-->
            <button type="submit" id="sbl">Limpiar</button>
        </form>

    </div>
    <!--termina codigo de visual-->

    <!------comienza el código de voz--------->
    <div class="voz agileits-services">
        <div class="contenedor">
            <div class="cuerpo">
                <form action="/voz" method="POST" name="formularioVoz" id="formularioVoz" enctype="multipart/form-data">

                    <input type="text" id="chido" name="chido">
                    <button type="submit" class="botonVoz" id="idBotonVoz">Leer</button>
                    <!-- <input type="submit" id="hablar">-->
                    <!--<input type="button" id="hablar" value="Hablar">-->
                </form>

                <div class="audio">

                    <audio src="music/audioH.wav" uploader controls="controls" id="audio">
                        <p>Tu navegador no implementa el elemento audio.</p>
                        </audio>

                    <!--<audio uploader controls="controls" id="audio">-->
                    <!--   <source type="audio/ogg" src="/audio.ogg">-->
                    <!--<source id="source" type="audio/wav" src="<%= typeof file != 'undefined' ? file : 'music/audio.wav' %>">-->
                    <!--  <source id="source" type="audio/wav">  <!--src="music/audio.wav">-->
                    <!-- Your browser does not support the audio element.-->
                    <!--  </audio>-->


                    <p id="source2"></p>

                </div>

            </div>
        </div>
    </div>
    <!------termina el código de voz--------->

    <section class="news text-center" id="work">
        <div class="container">
            <h3 class="heading text-capitalize"> Nuestro Equipo </h3>
            <p class="subs mt-4">Entusiasmados por brindarte un excelente trabajo.</p>
            <div class="row news-grids mt-5">
                <div class="col-lg-4 col-md-6 newsgrid1">
                    <div class="newsgrid_tp new_grd">
                        <img src="img/pro1.jpg" alt="news image" class="img-fluid">
                        <div class="news_bt">
                            <h4>Adrián Rangel Suárez</h4>
                            <br>
                            <p class="mt-4"> IBM Students Advocates </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  newsgrid2">
                    <div class="newsgrid_tp new_grd1">
                        <img src="img/pro2.jpg" alt="news image" class="img-fluid">
                        <div class="news_bt">
                            <h4>Genaro Laureano Mendez</h4>
                            <p class="mt-4"> IBM Students Advocates </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  newsgrid5">
                    <div class="newsgrid_tp new_grd1">
                        <img src="img/pro3.jpg" alt="news image" class="img-fluid">
                        <div class="news_bt">
                            <h4>Cristian Yavin Cortes Lugo</h4>
                            <p class="mt-4"> IBM Students Advocates </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //works -->
    <!-- contact -->
    <section class="wedo" id="contact">
        <div class="container">
            <h3 class="heading text-capitalize text-white text-center"> Contactanos </h3>
            <p class="subs mt-4 text-center">Sus comentarios atribuyen a nuestro crecimiento.</p>
            <div class="contact_grid_right mt-5 mx-auto text-center">
                <form action="#" method="post">
                    <div class="row contact_top">
                        <div class="col-sm-6">
                            <input type="text" name="Name" placeholder="Nombre" required="">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" name="Email" placeholder="Email" required="">
                        </div>
                    </div>
                    <input type="text" name="Name" placeholder="Nombre" required="">
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Mensage...</textarea>
                    <input type="submit" value="Enviar Mensage">
                    <input type="reset" value="Borrar Formato">
                    <div class="clearfix"> </div>
                </form>
            </div>
            <div class="cpy-right text-center">
                <div class="follow">
                    <ul class="social_section_1info">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google"></span></a></li>
                        <li><a href="#"><span class="fa fa-dribbble"></span></a></li>

                        <li><a href="#"><span class="fa fa-vimeo"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <p>© 2020 Exclusive. IBM Students Advocates | Design by
                    <a href=""> Handy.</a>
                </p>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/app2.js" charset="utf-8"></script>


</body>


</html>